body {
    background-color:black;
    padding-top: 20px;
    font-family: Courier New, Courier, monospace;
    background: url('../images/backgroundimage.jpg'), no-repeat ;
    background-size: cover;
    position: relative;
}

header{

	float:left;
	background: #c97123;
	border-bottom:#ccc;
    padding:20px;
    margin-top: 10px;
    margin-left: 10px;
}

h1, h3{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
h2{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

h5{
    font-weight: bold;
    font-size: 20px;
}

#instructions{
    background: #fbe6cd;
    width: 50%;
    margin-top: 100px;
    margin-left: 10px;
    color: #879963;
}

p{
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    padding: 10px;

}

#targetnumber{
    background-color: #3a8f5c;
    color: black;
    margin-top: 15px;
    margin-left: 10px;
    width: 15%;
    height: 150px;
}
.stats{
    float: left;
    background-color: #3dc6cf;
    color: black;
    margin-top: -150px;
    margin-left: 17%;
    width: 25%;
    height: 150px;
}
#crystalimages{

    color: black;
    margin-top: 10px;
    margin-left: 10px;
}
#scoretext{

    background-color: #2ca194;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    width: 25%;
}
#userscore{
    background-color: #2ca194;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    width: 25%;
    height: 150px;
    margin-bottom: 70px; 

}

footer {
	padding:10px;
    text-align: center;
	background:#666;
	color:#fff;
	position: fixed;
	left: 0;
	bottom: 0px;
    width: 100%;
    border-top: 5px solid #3dc6cf;
}

a{
    color: white;
}
/* mouse over link */
a:hover {
    color: #f7de62;
}